<!-- in views/play.erb -->

<%= @player_1_name %> vs. <%= @player_2_name %>

<!-- temporarily trying changing below to $player_2.hit_points instead of @player_2.hit_points -->

<%= @player_2_name %>: <%= $player_2.hit_points %>HP

<a href="/attack">Attack</a>

